.todo-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto; 
    padding: 20px;
    border-radius: 8px;
}
.form-submit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.input-todo {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #adacac;
    border-radius: 4px;
    box-sizing: border-box;
}
.button-add {
    display: block;
    width: 100%;
    max-width: 45px;
    padding: 10px;
    background-color: #bf19e9; 
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.button-add:hover {
    background-color: #8900b3;
}
  